fastapi==0.121.1
uvicorn==0.38.0
sqlalchemy==2.0.44
psycopg2-binary==2.9.10
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.17
pycparser==2.23
pydantic==2.12.4
pydantic-settings==2.12.0
pydantic_core==2.41.5
PyJWT==2.10.1
pyparsing==3.2.5
python-dotenv==1.0.0
aiosmtplib==3.0.1
alembic==1.13.1
email-validator==2.1.0
bcrypt==4.2.1
cryptography==46.0.3
requests==2.32.5